{
  "openapi": "3.1.0",
  "info": {
    "title": "Korea Company Financials & Risk API",
    "description": "Financial summaries (2019-2025) for about 260,000 Korean audited corporations -- sales, operating profit, net income, assets, liabilities, equity, debt ratio -- joined with company registry data (English name, business registration number, address, listing status, auditor) and DART filings that signal financial distress (default, court rehabilitation filing, dissolution, business suspension). Government-sourced data as English JSON.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://korea-company-financials-risk.p.rapidapi.com",
      "description": "RapidAPI gateway"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/companies/search": {
      "get": {
        "summary": "Search companies by name, crno (법인등록번호) or business registration number",
        "operationId": "Search companies",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Company name (English or Korean), 13-digit crno, or 10-digit business registration number, e.g. Samsung, 삼성전자, or 1101110000086",
              "examples": [
                "Samsung"
              ],
              "title": "Q"
            },
            "description": "Company name (English or Korean), 13-digit crno, or 10-digit business registration number, e.g. Samsung, 삼성전자, or 1101110000086"
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: KOSPI, KOSDAQ or leave empty for all"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number, from 1",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, from 1"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Results per page, 1-100",
              "default": 20,
              "title": "Per Page"
            },
            "description": "Results per page, 1-100"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{crno}": {
      "get": {
        "summary": "Company profile with its 2 most recent financial years and distress-event counts",
        "operationId": "Company detail",
        "parameters": [
          {
            "name": "crno",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Crno"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{crno}/financials": {
      "get": {
        "summary": "Full yearly financial history for a company (2019-2025)",
        "operationId": "Company financial history",
        "parameters": [
          {
            "name": "crno",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Crno"
            }
          },
          {
            "name": "year_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Earliest year, e.g. 2020"
          },
          {
            "name": "year_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Latest year, e.g. 2024"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "1-100",
              "default": 20,
              "title": "Per Page"
            },
            "description": "1-100"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{crno}/distress-events": {
      "get": {
        "summary": "DART filings for this company that signal financial distress",
        "operationId": "Company distress events",
        "parameters": [
          {
            "name": "crno",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Crno"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "1-100",
              "default": 50,
              "title": "Per Page"
            },
            "description": "1-100"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coverage": {
      "get": {
        "summary": "What this dataset does and does not cover (free)",
        "operationId": "Data coverage",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/codes": {
      "get": {
        "summary": "Market and distress-event code tables (free)",
        "operationId": "Reference codes",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  }
}